body{
    background:rgb(245, 244, 243);
}

.container{
    width: min(100%,1200px);
    min-height: 100px;
    background: #fff;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 50px 0 ;
}
.title{
    font-size:5rem;
    font-weight: bold;
    background:#d1268a;
    color:#fff;
    width:100%;
    text-align: center;

}
.box1{
    width:300px;
    padding: 20px 50px;
    border: 5px solid grey;
    font-size: 2rem;
    cursor: pointer;
    text-align: center;
    margin:50px auto 0 auto;  
    text-decoration: none; 
    color:black;
}
.box1:hover{
    background:grey;
    color:#fff;
}
.box2{
    margin: 50px auto 0 auto;
    width:300px;
    padding: 20px 50px;
    border: 5px solid grey;
    text-align: center;
    font-size: 2rem;
    cursor: pointer;
    text-decoration: none; 
    color:black;
}
.box2:hover{
    background:grey;
    color:#fff;
}